@mixin gradientBackground($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}

.toolbar {
  position: relative;
  text-align: center;
  justify-content: center;
  width: 100vw;
  @include gradientBackground(#0072ff,#00c6ff);
  color: white;
  font-size: larger;
  height: 8em;

  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4em;
    background: #313131;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    text-shadow: 0 -20px 10px rgba(0,0,0,0.8);
  }

  a {
    color: white;
    text-decoration: none;
  }

  h1 {
    margin-bottom: 0
  }

  h5 {
    margin-top: 0.2em;
  }

}


.toolbar_heading {
  margin: 0 1.5em 0 1.5em;
}

.toolbar_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.toolbar_nav_items {
  ul {
    list-style: none;
    padding: 0 0 0 2em;
    display: flex;
  }

  li {
    padding: 0 1em;
    transition: all 0.1s ease-out;
  }

  li:hover {
    transform: scale(1.1);
  }


  a:active {

  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}