@mixin gradientBackground($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}
.gradientPrimary span,
.gradientPrimary {
  @include gradientBackground(#52A0FD,#00e2fa, )
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5em 0 0 0;
}

.button {
  display: inline-block;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  margin-right: 1em;
	font-size: 1em;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
  position: relative;
  display: inline-block;
  padding: 15px 50px;
  border-radius: 0 10px;
  will-change: transform, filter, transform-origin;
  transition: all 0.3s ease-out;
  &:focus,
	&:active {
		color: #ffffff;
	}
	&:hover {
    color: #ffffff;
    cursor: pointer;
    filter: brightness(1.05) contrast(1.05);
  }
  &:last-child {
    margin-right: 0;
  }
}

.lightText {
  color: white;
}