.app {
  min-height: 100vh;
  text-align: center;
  align-content: center;
  align-items: center;
  background-color: #313131;
}

.page_container {
  margin: -1em auto;
  padding: 0 2em 2em 2em;
  max-width: 1600px;
  @media screen and (max-width: 768px) {
    margin: -1em 0.8em 0.8em 0.8em;
  }
}

.montage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page_title {
  color: white;
  text-align: right;
  padding: 0 4em 1em 0;

  @media screen and (max-width: 768px) {
    padding-right: 0.5em;
  }

}