@mixin gradientBackground($startColor, $endColor) {
	background: $startColor;
	background: -moz-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: -webkit-linear-gradient(left,  $startColor 0%, $endColor 80%,$endColor 100%);
	background: linear-gradient(to right,  $startColor 0%, $endColor 80%,$endColor 100%);
}

.app {
  min-height: 100vh;
  text-align: center;
  background-color: #313131;
}

.page_container {
  margin: -1em 2em 2em 2em;
}

.montage_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.page_title {
  color: white;
  text-align: right;
  padding: 0 4em 1em 0;
}